* {
    margin: 0 0;
    padding: 0 0;
}
body {
    font-family: 'Cabin', sans-serif;
}

.top-section {
    margin: 21px 0 0 0;
    
}

.main-container {
    width: 1128px;
    margin: 0 auto;
}

.badge-container {
    display: flex;
    justify-content: center;
}

#badge {
    height: 239px;
    width: 168px;
}

.learn-more {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    font-size: 18px;
}

.links-container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.links-container a {
    color: #0A162B;
    font-weight: bold;
}

hr {
    height: 2px;
    background-color: #0A162B;
    border: none;
}

.fad {
    margin: 50px 100px;
    display: flex;
}

.subject {
    margin: auto 0;
    vertical-align: middle ;
}

.find-bio {
    font-weight: 800;
    font-size: 20px;
}

.sponsored {
    font-size: 12px;
}

.fad-dropdown {
    border: 2px #D0D0D0 solid;
    border-radius: 5px;
    height: 55px;
    width: 380px;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    margin: 0 20px;
}

select {
    padding: 0 15px;
}

.search-button {
    height: 55px;
    width: 175px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #FFC327;
    border-radius: 55px;
    color: #0A132B;
    border: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-blend-mode: overlay, normal;
}